.chosenSign
{
	font-size: 48px;
}

.otherSign
{
	font-size: 28px;
	
	cursor: pointer;
}

.signDescription
{
	font-size: 10px;
}

.someSpaceBelow
{
	margin-bottom: 10px;
}

.attributesContainer
{
	float: left;
	
	width: 45%;
	
	border: 1px solid black;
	
	margin-right: calc(4%);
}

.attributesList
{
	height: 200px;
	
	padding: 4px;
}

.attributesListHeadline
{
	border-bottom: 1px solid black;
	
	line-height: 20px;
	padding: 4px;
}

.attribute
{
	cursor: pointer;
}

.chosenAttribute
{
	color: lightgrey;
}