.manuscriptName
{
	font-family: fantasy;
	font-size: 14px;
	font-weight: bold;
}

.fragmentName
{
	font-family: fantasy;
	font-size: 14px;
	font-weight: bold;	
}

.column
{
	width: 100%;
	table-layout: auto;
}

.line
{
}

.lineSection
{
	border-left: 3px solid white;
	
	line-height: 20px;
}

.coyBottomBorder
{
	border-bottom: 1px solid lightgrey;
}

.normalBottomBorder
{
	border-bottom: 1px solid darkgrey;
}

.wysiwygTextLineNumber
{
	/* display: table-cell; */
}

.sign
{
	
}

#wysiwygContainer
{
	table-layout: auto;
	
	font-family: monospace;
	font-size: 14px;
}


/** different annotations */

.retraced
{
	font-weight: bold;
}

.reconstructed
{
	color: darkblue;
}

.corrected
{
	text-decoration: line-through; 
}

.suggested
{
	color: darkred;
}